(
    texture_width: 128,
    texture_height: 4096,
    sprites: [
        (
            name: "dungeon_walls_corner_down_left_1",
            x: 0,
            y: 0,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_corner_down_right_1",
            x: 0,
            y: 128,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_corner_up_left_1",
            x: 0,
            y: 256,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_corner_up_right_1",
            x: 0,
            y: 384,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_down_1",
            x: 0,
            y: 512,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_down_2",
            x: 0,
            y: 640,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_left_10",
            x: 0,
            y: 768,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_left_1",
            x: 0,
            y: 896,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_left_2",
            x: 0,
            y: 1024,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_left_3",
            x: 0,
            y: 1152,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_left_4",
            x: 0,
            y: 1280,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_left_5",
            x: 0,
            y: 1408,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_left_6",
            x: 0,
            y: 1536,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_left_7",
            x: 0,
            y: 1664,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_left_8",
            x: 0,
            y: 1792,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_left_9",
            x: 0,
            y: 1920,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_point_down_left_1",
            x: 0,
            y: 2048,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_point_down_right_1",
            x: 0,
            y: 2176,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_point_up_left_1",
            x: 0,
            y: 2304,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_point_up_right_1",
            x: 0,
            y: 2432,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_right_1",
            x: 0,
            y: 2560,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_right_2",
            x: 0,
            y: 2688,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_up_10",
            x: 0,
            y: 2816,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_up_1",
            x: 0,
            y: 2944,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_up_2",
            x: 0,
            y: 3072,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_up_3",
            x: 0,
            y: 3200,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_up_4",
            x: 0,
            y: 3328,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_up_5",
            x: 0,
            y: 3456,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_up_6",
            x: 0,
            y: 3584,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_up_7",
            x: 0,
            y: 3712,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_up_8",
            x: 0,
            y: 3840,
            width: 128,
            height: 128,
            offsets: None,
        ),
        (
            name: "dungeon_walls_up_9",
            x: 0,
            y: 3968,
            width: 128,
            height: 128,
            offsets: None,
        ),
    ],
)