( animations: [
    (
        id: WalkUp,
        input: [.0, .1, .2, .3, .4, .5, .6, .7, .8],
        output: [
            "character_01_walk_up_0000",
            "character_01_walk_up_0001",
            "character_01_walk_up_0002",
            "character_01_walk_up_0003",
            "character_01_walk_up_0004",
            "character_01_walk_up_0005",
            "character_01_walk_up_0006",
            "character_01_walk_up_0007",
            "character_01_walk_up_0000",
        ],
    ),
    (
        id: WalkDown,
        input: [.0, .1, .2, .3, .4, .5, .6, .7, .8],
        output: [
            "character_01_walk_down_0000",
            "character_01_walk_down_0001",
            "character_01_walk_down_0002",
            "character_01_walk_down_0003",
            "character_01_walk_down_0004",
            "character_01_walk_down_0005",
            "character_01_walk_down_0006",
            "character_01_walk_down_0007",
            "character_01_walk_down_0000",
        ],
    ),
    (
        id: WalkLeft,
        input: [.0, .1, .2, .3, .4, .5, .6, .7, .8],
        output: [
            "character_01_walk_left_0000",
            "character_01_walk_left_0001",
            "character_01_walk_left_0002",
            "character_01_walk_left_0003",
            "character_01_walk_left_0004",
            "character_01_walk_left_0005",
            "character_01_walk_left_0006",
            "character_01_walk_left_0007",
            "character_01_walk_left_0000",
        ],
    ),
    (
        id: WalkRight,
        input: [.0, .1, .2, .3, .4, .5, .6, .7, .8],
        output: [
            "character_01_walk_right_0000",
            "character_01_walk_right_0001",
            "character_01_walk_right_0002",
            "character_01_walk_right_0003",
            "character_01_walk_right_0004",
            "character_01_walk_right_0005",
            "character_01_walk_right_0006",
            "character_01_walk_right_0007",
            "character_01_walk_right_0000",
        ],
    ),
    (
        id: WalkUpRight,
        input: [.0, .1, .2, .3, .4, .5, .6, .7, .8],
        output: [
            "character_01_walk_upright_0000",
            "character_01_walk_upright_0001",
            "character_01_walk_upright_0002",
            "character_01_walk_upright_0003",
            "character_01_walk_upright_0004",
            "character_01_walk_upright_0005",
            "character_01_walk_upright_0006",
            "character_01_walk_upright_0007",
            "character_01_walk_upright_0000",
        ],
    ),
    (
        id: WalkDownRight,
        input: [.0, .1, .2, .3, .4, .5, .6, .7, .8],
        output: [
            "character_01_walk_downright_0000",
            "character_01_walk_downright_0001",
            "character_01_walk_downright_0002",
            "character_01_walk_downright_0003",
            "character_01_walk_downright_0004",
            "character_01_walk_downright_0005",
            "character_01_walk_downright_0006",
            "character_01_walk_downright_0007",
            "character_01_walk_downright_0000",
        ],
    ),
    (
        id: WalkUpLeft,
        input: [.0, .1, .2, .3, .4, .5, .6, .7, .8],
        output: [
            "character_01_walk_upleft_0000",
            "character_01_walk_upleft_0001",
            "character_01_walk_upleft_0002",
            "character_01_walk_upleft_0003",
            "character_01_walk_upleft_0004",
            "character_01_walk_upleft_0005",
            "character_01_walk_upleft_0006",
            "character_01_walk_upleft_0007",
            "character_01_walk_upleft_0000",
        ],
    ),
    (
        id: WalkDownLeft,
        input: [.0, .1, .2, .3, .4, .5, .6, .7, .8],
        output: [
            "character_01_walk_downleft_0000",
            "character_01_walk_downleft_0001",
            "character_01_walk_downleft_0002",
            "character_01_walk_downleft_0003",
            "character_01_walk_downleft_0004",
            "character_01_walk_downleft_0005",
            "character_01_walk_downleft_0006",
            "character_01_walk_downleft_0007",
            "character_01_walk_downleft_0000",
        ],
    ),
    (
        id: DieUp,
        input: [.0, .1, .2, .3, .4, .5],
        output: [
            "character_01_die_up_0000",
            "character_01_die_up_0001",
            "character_01_die_up_0002",
            "character_01_die_up_0003",
            "character_01_die_up_0004",
            "character_01_die_up_0005",
        ],
    ),
    (
        id: DieDown,
        input: [.0, .1, .2, .3, .4, .5],
        output: [
            "character_01_die_down_0000",
            "character_01_die_down_0001",
            "character_01_die_down_0002",
            "character_01_die_down_0003",
            "character_01_die_down_0004",
            "character_01_die_down_0005",
        ],
    ),
    (
        id: DieLeft,
        input: [.0, .1, .2, .3, .4, .5],
        output: [
            "character_01_die_left_0000",
            "character_01_die_left_0001",
            "character_01_die_left_0002",
            "character_01_die_left_0003",
            "character_01_die_left_0004",
            "character_01_die_left_0005",
        ],
    ),
    (
        id: DieRight,
        input: [.0, .1, .2, .3, .4, .5],
        output: [
            "character_01_die_right_0000",
            "character_01_die_right_0001",
            "character_01_die_right_0002",
            "character_01_die_right_0003",
            "character_01_die_right_0004",
            "character_01_die_right_0005",
        ],
    ),
    (
        id: DieUpRight,
        input: [.0, .1, .2, .3, .4, .5],
        output: [
            "character_01_die_upright_0000",
            "character_01_die_upright_0001",
            "character_01_die_upright_0002",
            "character_01_die_upright_0003",
            "character_01_die_upright_0004",
            "character_01_die_upright_0005",
        ],
    ),
    (
        id: DieDownRight,
        input: [.0, .1, .2, .3, .4, .5],
        output: [
            "character_01_die_downright_0000",
            "character_01_die_downright_0001",
            "character_01_die_downright_0002",
            "character_01_die_downright_0003",
            "character_01_die_downright_0004",
            "character_01_die_downright_0005",
        ],
    ),
    (
        id: DieUpLeft,
        input: [.0, .1, .2, .3, .4, .5],
        output: [
            "character_01_die_upleft_0000",
            "character_01_die_upleft_0001",
            "character_01_die_upleft_0002",
            "character_01_die_upleft_0003",
            "character_01_die_upleft_0004",
            "character_01_die_upleft_0005",
        ],
    ),
    (
        id: DieDownLeft,
        input: [.0, .1, .2, .3, .4, .5],
        output: [
            "character_01_die_downleft_0000",
            "character_01_die_downleft_0001",
            "character_01_die_downleft_0002",
            "character_01_die_downleft_0003",
            "character_01_die_downleft_0004",
            "character_01_die_downleft_0005",
        ],
    ),
])