( animations: [
    (
        id: WalkUp,
        input: [.0, .1, .2, .3, .4, .5, .6, .7, .8],
        output: [
            "character_01_walk_up_0000",
            "character_01_walk_up_0001",
            "character_01_walk_up_0002",
            "character_01_walk_up_0003",
            "character_01_walk_up_0004",
            "character_01_walk_up_0005",
            "character_01_walk_up_0006",
            "character_01_walk_up_0007",
            "character_01_walk_up_0000",
        ],
    ),
    (
        id: WalkDown,
        input: [.0, .1, .2, .3, .4, .5, .6, .7, .8],
        output: [
            "character_01_walk_down_0000",
            "character_01_walk_down_0001",
            "character_01_walk_down_0002",
            "character_01_walk_down_0003",
            "character_01_walk_down_0004",
            "character_01_walk_down_0005",
            "character_01_walk_down_0006",
            "character_01_walk_down_0007",
            "character_01_walk_down_0000",
        ],
    ),
    (
        id: WalkLeft,
        input: [.0, .1, .2, .3, .4, .5, .6, .7, .8],
        output: [
            "character_01_walk_left_0000",
            "character_01_walk_left_0001",
            "character_01_walk_left_0002",
            "character_01_walk_left_0003",
            "character_01_walk_left_0004",
            "character_01_walk_left_0005",
            "character_01_walk_left_0006",
            "character_01_walk_left_0007",
            "character_01_walk_left_0000",
        ],
    ),
    (
        id: WalkRight,
        input: [.0, .1, .2, .3, .4, .5, .6, .7, .8],
        output: [
            "character_01_walk_right_0000",
            "character_01_walk_right_0001",
            "character_01_walk_right_0002",
            "character_01_walk_right_0003",
            "character_01_walk_right_0004",
            "character_01_walk_right_0005",
            "character_01_walk_right_0006",
            "character_01_walk_right_0007",
            "character_01_walk_right_0000",
        ],
    ),
])